

.stack-browser {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

}

.stack-browser-scrollbody {
    flex: 1 1 auto;
    position: relative;
}


.load-more-docs-button {
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 100px;
    color: #009ccc;
    opacity: 0.5;
    cursor: pointer;
    transition: ease-in-out 0.2s all;
    
}

.load-more-docs-button:hover {
    opacity: 1;
}

.internal-loading-overlay {
    z-index: 2000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.7);
}

.internal-loading-overlay-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    transform: translateY(-50%);
}

